.rectanglebox {
  width: 200px;
  height: 550px;
  border: 2px solid #000000;
  text-align: center;
  margin: 10px 0px 10px 0px;
  padding: 0px;
}
.outerbox {
  display: table;
  margin: 0 auto;
}
.coursebox {
  width: 50%;
  margin: 0 auto;
}
