.rectanglebox {
  position: static;
  float: left;
  border: 2px solid #000000;
  clear: both;
  display: inline-table;
  width: 250px;
  min-height: 490px;

  text-align: center;
  padding: 10px;
  margin: 5px;
}
.outerbox {
  position: relative;
  overflow: visible;
  clear: both;
  margin: 0 auto;
  padding: 5px;
  width: 80%;

}
.coursebox {
  width: 50%;
  margin: 0 auto;
}

.quarterTitle {
  padding-bottom: 10px;
  clear: both;
}

.card-footer {
  background: #FFE395;
}
.card-title {
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
}
hr {
  #height: 5px;
  border-top: 2px double #000000;

}

.card-block {
  min-height: 490px;
  position: relative;
}

.quarter-content {
  min-height: 700px;
}
