/*Removes horizontal padding from bootstrap col*/
.some-gutter > [class*='col-'] {
  padding-right:2px;
  padding-left:2px;
}

.quarter-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow:row;
  width:100%;
  overflow: auto;
}

.quarter {
  flex:1;
  -webkit-flex:1;
  text-align:center;
  min-width:400px;
}

.flowchart-container {
  padding: 10px;
  width: 90vw;
  flex: 1;
}

.flowchart{
  height: 80vh;
}
