<div class="d-flex">
  <ng-template #loading>
    <div class="d-flex justify-content-center">
      <!--<md-spinner></md-spinner>-->
   </div>
  </ng-template>

  <div class="card" *ngIf="flowchartView && flowchartView.flowchart;">

    <h1 class="card-header">{{flowchartView.flowchart.name}}</h1>

    <div class="card-block text-center">
      <div class="row">
        <div *ngFor="let quarter of flowchartView.quarters" >
          <app-quarter [quarterView]="quarter" (addCourseClicked)="openAddCourseDialog($event)"></app-quarter>
        </div>
      </div>
    </div>


  </div>

</div>
