/*Removes horizontal padding from bootstrap col*/
.some-gutter > [class*='col-'] {
  padding-right:2px;
  padding-left:2px;
}

.quarter-container {
  display: -webkit-box;
  /*display: -moz-box;
  display: -ms-flexbox;*/
  flex-flow:row;
  width:100%;
  overflow: auto;
  background-color: #dcdcdc;
  padding: 10px;
  min-height: 690px;
}

.quarter {
  flex:1;
  -webkit-flex:1;
  text-align:center;
  width:180px;
  height: 100%;
}

.flowchart-container {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  /*width: 95vw;*/
  /*flex: 1;*/
}

.flowchart{
  height: 100%;
  width: 100%;
  border: 2px solid #000000;
}

.card-header {
  #background: #a8bc98;
  background: #035642;
}

h4 {
  text-align: center;
}

.d-flex h3 {
  font-family: 'Bitter', serif;
  text-align: center;
  color: #FFFFFF;

}
.fa-2x {
  color: #fffff4;
}

.dropdown {
  color: #fffff4;
}

.pt-2 {
  font-family: 'Bitter', serif;
  text-align: center;
  color: #FFFFFF;
}
