/*Styles for the Flowchart Component*/

.flowchart-container {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.flowchart {
}

.flowchart-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 0 3em;
  justify-content: space-between;
  align-items: center;
  font-family: 'Exo 2', sans-serif;
  color: white;
  background: #035642;
  padding: 5px 10px 5px 10px;
}

.flowchart-title {

}

.flowchart-menu {
  display: flex;
}

.flowchart-display {
  display: flex;
  align-content: center;
}

.flowchart-display button {
  padding: 0 5px;
}

.flowchart-main-content {
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: nowrap;
  background-color: #dcdcdc;
  border: 1px solid grey;
}

.quarter-container {
  display: flex;
  text-align:center;
  height: 100%;
  flex: 1 0 250px;
}

.quarter {
  flex: 1 1 auto;
}

.one-line {
  flex-wrap: nowrap;
  overflow: auto;
}

.flex-wrap {
  flex-wrap: wrap;
}

.year-per-line-4 {
  display: block;
  /* Depends on how many quarters per year*/
  flex: 1 1 25%;
}

.year-per-line-3{
  display: block;
  /* Depends on how many quarters per year*/
  flex: 1 1 33%;
}

.year-per-line-2{
  display: block;
  /* Depends on how many quarters per year*/
  flex: 1 1 50%;
}
