<ng-template #empty>
  <div class="empty-content">
    You have no flowcharts.
 </div>
</ng-template>

<div class="flowchart-container" *ngIf="flowchartView && flowchartView.flowchart; else empty">
  <div class="flowchart">
    <div class="flowchart-header">
      <div class="flowchart-title">
          <h3 [hidden]="editTitleMode"
              (click)="onFlowchartEdit(true)">
            {{flowchartView.flowchart.name}}
          </h3>
          <form [hidden]="!editTitleMode">
            <input #flowchartTitleInput
                   autofocus
                   required minlength="1"
                   value={{flowchartView.flowchart.name}}
                   placeholder="name"
                   (blur)="onFlowchartEdit(false)"
                   (keyup)="onFlowchartNameEdit($event)">
          </form>
        <span *ngIf="flowchartView.flowchart.official" class="pt-2 pr-2">Official Flowchart</span>
      </div>

        <div class="flowchart-menu">
          <div class="flowchart-display">
            <button (click)="onAcademicYearPerRowDisplay()">
              Separate by Academic Year
            </button>
            <button (click)="onSingleRowDisplay()">
              All in a single Row
            </button>
          </div>
          <div ngbDropdown>
            <button md-button ngbDropdownToggle class="md-small" id="editDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-gear fa-2x fa-fw"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="editDropdown">
              <a class="dropdown-item" (click)="onFlowchartEdit(true)">
                <!--<i class="fa fa-pencil fa-1x fa-fw"></i> -->
                Rename</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onAddQuarter(flowchartView.flowchart.id)">Add Quarter</a>
              <a class="dropdown-item" (click)="onAddYear(flowchartView.flowchart.id)">Add Year</a>
              <div class="dropdown-divider"></div>
              <div *ngIf="isCurrentUserAdmin()">
                <a *ngIf="!flowchartView.flowchart.official" class="dropdown-item" (click)="onPublishFlowchart(flowchartView.flowchart.id, true)">
                  <!--<i class="fa fa- fa-1x fa-fw"></i>-->
                   Publish Flowchart</a>
                <a *ngIf="flowchartView.flowchart.official" class="dropdown-item" (click)="onPublishFlowchart(flowchartView.flowchart.id, false)">
                  <!--<i class="fa fa-institution fa-1x fa-fw"></i>-->
                   Unpublish Flowchart</a>
                <div class="dropdown-divider"></div>
              </div>
              <a class="dropdown-item" (click)="onFlowchartDelete(flowchartView.flowchart.id)">
                <!--<i class="fa fa-trash fa-1x fa-fw"></i> -->
                Delete</a>
            </div>
          </div>
        </div>
    </div>

    <div class="flowchart-main-content" [class.flex-wrap]="multiLine">
        <div class="quarter-container" [class.year-per-line-3]="multiLine" *ngFor="let quarter of flowchartView.quarters;">
          <app-quarter class="quarter"
                        [quarterView]="quarter"
                       (addCourseClicked)="openAddCourseDialog($event)"
                        (onCourseDropped)="onUpdateEntry($event)">
          </app-quarter>
        </div>
    </div>
  </div>
</div>
