<div>
  <nav class="navbar navbar-inverse navbar-toggleable-md polypath-navbar">
    <div class="jh-logo-container float-left">
      <a href="/" class="navbar-brand logo float-left" routerLink="/">
        <span class="logo-img"></span>
        <span class="navbar-title">PolyPath</span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">
            <div *ngIf="user">
              <span class="font-weight-bold text-gray-dark p-3">Hi {{user.firstName}} {{user.lastName}}</span>
              <button class="btn btn-outline-secondary gray" (click)="onSignOut()">Sign Out</button>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
