.polypath-navbar {
  padding: .2em 1em;
}
.navbar-title {
  font-family: 'Oswald', sans-serif;
  font-size: 24pt;
  #text-transform: uppercase;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.logo {
  padding: 8px;
}
.logo-img {
  height: 80px;
  width: 80px;
  display: inline-block;
  vertical-align: middle;

  background: url("../../../assets/CalPoly_Seal.jpg") no-repeat center center;
  background-size: cover;
  margin-top: 10px;

  margin-right: 0px;
  margin-left: 15px;
}

.gray {
  color: #262626;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.*/
  /*Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}

.p-3 {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 15pt;
}

.md-button {
  font-family: serif;
  font-family: 'Oswald', sans-serif;
  font-size: 15pt;
}

.fa-navicon {
  float: left;
  margin-left: 13px;
  margin-top: 10px;
}


