.polypath-navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.nav-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-title {
  font-family: 'Exo 2', sans-serif;
  font-size: 24pt;
  vertical-align: middle;
}

.username {
  font-family: 'Exo 2', sans-serif;
  margin-right: 8px;
}

.sidenav-button {
  flex: 0 0 4em;
}
