<md-sidenav-container fullscreen>
  <app-navbar *ngIf="currentUser$ | async"
              [user]="currentUser$ | async"
              (onLogoClick)="onSideNavToggle()"
              (onSignOut)="onUserSignOut()">
  </app-navbar>
  <md-sidenav #sidenav>
    <app-sidenav (flowchartSelected)="sidenav.close()"
                 (sideNavClose)="sidenav.close()"
                 (newFlowchart)="onNewFlowchart()"
                 [currentUser]="currentUser$ | async"
                 [flowcharts]="allFlowcharts$ | async"
                 [selectedFlowchartId]="selectedFlowchartId$ | async">
    </app-sidenav>
  </md-sidenav>

  <!--<div class="main-container d-flex mt-1 justify-content-center">-->
    <router-outlet></router-outlet>
  <!--</div>-->
</md-sidenav-container>
