.sidebar-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.sidebar-sidenav-content {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.sidebar-sidenav {
  padding: 20px;

}

.list-group {
  position: absolute;
  margin-left: 10pt;
}

.sidenav {
  width: 300px;
}

.sidenav-title{
  padding-top: 20px;
}

.sidenav-button {
  width: 250px;
}

.navbar-title {
  text-align: center;
}

.button-padding {
  margin: 5px 5px 5px 5px;
  position: relative;
  background-color: #9eb28f;
}

.courseSearch
{
  margin-left: 25px;
  margin-bottom: 40px;
  position: fixed;
  bottom: 50%;
  left: 0;
  clear: both;
  float: left;
}

.container-fluid
{
  background-color: transparent;
}

