.sidebar-container {
  width: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
}

.sidebar-sidenav-content {
  display: inline-flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.sidebar-sidenav {
  padding: 20px;

}

.list-group {
  position: absolute;
  margin-left: 10pt;
}

.sidenav {
  width: 300px;
  background-color: rgb(254, 255, 248);
  height: 100%;
}

.sidenav-title{
  font-family: 'Exo 2', sans-serif;
  font-weight: 500;
  padding-top: 20px;
}

h4, h5 {
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.sidenav hr {
  #height: 5px;
  border-top: 2px double #003831;

}

.navbar-title {
  font-family: 'Exo 2', sans-serif;
  text-align: left;
}

.button-padding {
  margin: 5px 5px 5px 5px;
  position: relative;
}

.courseSearch
{
  margin-left: 25px;
  margin-bottom: 40px;
  position: fixed;
  bottom: 50%;
  left: 0;
  clear: both;
  float: left;
}

.container-fluid
{
  background-color: transparent;
}

.sidenav-button {
  width: 250px;
  border-radius: 10px;
  /*background-color: #fff7e0;*/
}

.activeButton {
  /*background-color: #f7deb5;*/
  background-color: #fff7e0;

}


