.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.logo-name {
  font-size: 80px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #275a27;
}

.full-width {
  width: 100% !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.invalid {
  border-left: 5px solid #d60000;
}

input.ng-valid {
  /*border-left: 5px solid #007500;*/
}
