<div class="middle-box text-center animated fadeIn">
  <div>
    <div>
      <h1 class="logo-name">PolyPath</h1>
    </div>
    <form class="m-t" role="form" #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)">

      <div class="form-group">
        <input autofocus type="email" maxlength="30" minlength="1" #userRef="ngModel" required class="form-control" placeholder="Username" [(ngModel)]="data.username" name="username">

        <input type="password" maxlength="20" minlength="1" #passRef="ngModel" required class="form-control" placeholder="Password" [(ngModel)]="data.password" name="password">

        <!--Michael, this is what needs to work.-->
        <div *ngIf="checklogin" class="alert alert-danger">Test </div>
          <div [hidden]="true">Incorrect log in. Please try again</div>

      </div>

      <button md-raised-button [disabled]="loading || loginform.form.invalid" class="full-width" type="submit">Login</button>
    </form>
  </div>
</div>
