.middle-box {
  max-width: 400px;
  z-index: 100;
  margin: 0 auto;
  padding-top: 40px;
}

.logo-name {
  color: #e6e6e6;
  font-size: 100px;
  font-weight: 800;
  letter-spacing: -10px;
  margin-bottom: 5px;
}

.full-width {
  width: 100% !important;
}
