.middle-box {
  max-width: 400px;
}

.logo-name {
  font-size: 80px;
  font-family: 'Exo 2', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  color: #275a27;
}

.full-width {
  width: 100% !important;
}

.login-button {
  width: 100%;
}

.invalid {
  border-left: 5px solid #d60000;
}

input.ng-valid {
  /*border-left: 5px solid #007500;*/
}

.login-container {
  display: flex;
  height: 100%;
  justify-content: center;
}

.login-content {
  margin-top: 20%;
}


/*TODO: Move to common animations stylesheet*/
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
