<div class="middle-box text-center animated fadeIn">
  <div>
    <div>
      <h1 class="logo-name">PolyPath</h1>
    </div>
    <form class="m-t" role="form" #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value)">

      <div class="form-group">
        <input [class.invalid]="invalidCredentials" autofocus type="email" #userRef="ngModel" class="form-control mt-2" placeholder="Username" [(ngModel)]="data.username" name="username">

        <input [class.invalid]="invalidCredentials" type="password" #passRef="ngModel" class="form-control mt-2" placeholder="Password" [(ngModel)]="data.password" name="password">

        <!--Michael, this is what needs to work.-->
        <div *ngIf="invalidCredentials" class="alert alert-danger mt-2">Incorrect Username/Password. Please try again</div>

      <button md-raised-button [disabled]="loading" class="full-width mt-3" type="submit">
        Login
      </button>
      </div>
    </form>
  </div>
</div>
