<div class="container-fluid">
  <div class = "sidenav">
    <div class="text-cen">
      <span class="navbar-title">
        <h4>Flowcharts</h4>
      </span>
    </div>

    <div class="col-xs-12">
      <div class="list-group">
        <button md-button class="list-group-item list-group-item-action button-padding"
           *ngFor="let flowchart of flowcharts$ | async"
            (click)="onFlowchartSelected(flowchart.id)">
          {{flowchart.name}}
        </button>
      </div>
    </div>

  </div>
</div>
