
<div class="container-fluid">
  <div class = "sidenav">
    <div class="text-cen">
      <span class="navbar-title">
        <h4>Flowcharts</h4>
      </span>
    </div>

    <div class="col-xs-12">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action button-padding"
           *ngFor="let flowchart of flowcharts" (click)="onFlowchartSelected(flowchart.id)">
          {{flowchart.name}}
        </a>
        <!--
        <div class = "courseSearch">
          <course-search></course-search>
        </div>
        -->
      </div>

    </div>
  </div>
</div>

<!--
<md-sidenav-container class="sidenav-container">
  <md-sidenav #sidenav class="sidenav">
    <a href="#" class="list-group-item list-group-item-action button-padding"
       *ngFor="let flowchart of flowcharts">
      {{flowchart.name}}
    </a>
  </md-sidenav>

  <div class="sidenav-content">
    <button md-button (click)="sidenav.open()">
      Flowcharts
    </button>
  </div>

</md-sidenav-container>
-->
