<div *ngIf="entry" class="course" [style.background-color]="entry.color ? entry.color : 'white'">
    <div    class="pull-left pl-2 icon"
            style="z-index: 1; left: 0; padding-top: 2px; padding-left: 2px"
            (click)="onColorChange()">
      <i class="fa fa-paint-brush fa-fw"></i>
    </div>
    <div  class="pull-right pr-2 icon"
          style="z-index: 1; right: 0; padding-top: 2px; padding-right: 2px"
         (click)="onCourseRemove()">
      X
    </div>
    <div class="course-title">
      <b>
      {{entry.course.department.prefix}}
      {{entry.course.number}}
      </b>
      <br>
      {{entry.course.title | truncate: 50}}
    </div>
</div>
