<div class = "d-flex center flex-column roundcorners">
  <div *ngIf="entry"  class="d-flex justify-content-end">
    <button md-button
            class="md-small"
            style="z-index: 1"
            (click)="onCourseRemove(entry)">
      X
    </button>
  </div>
  <div class="text-center">
    <!-- ({{entry.course.id}}) -->
    <div >
      <b>
      {{entry.course.department.prefix}}
      {{entry.course.number}}
      </b>
      <br>
      {{entry.course.title}}
    </div>
  </div>
</div>
