.roundcorners {
  border-radius: 5px;
  background: #73AD21;
  border: 2px solid #000000;
  width: 180px;
  height: 130px;
  box-shadow: 0px 5px 30px #888888; /*Activate on drop and drag */
  position: relative;
}

.classtitle {
  font-weight: bold;
  font-size: 1em;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
