<div *ngIf="entry" class="d-flex center flex-column roundcorners" [style.background-color]="entry.color ? entry.color : 'white'">
  <div>
    <div    class="pull-left pl-2 icon"
            style="z-index: 1;"
            (click)="onColorChange()">
      <i class="fa fa-paint-brush fa-fw"></i>
    </div>
    <div  class="pull-right pr-2 icon"
          style="z-index: 1;"
         (click)="onCourseRemove()">
      X
    </div>
  </div>
  <div class="text-center" (click)="onClick()">
    <!-- ({{entry.course.id}}) -->
    <div >
      <b>
      {{entry.course.department.prefix}}
      {{entry.course.number}}
      </b>
      <br>
      {{entry.course.title}}
    </div>
  </div>
</div>
