div {
    display: block;
}

#pageWrapper {
    margin-top: 2px;
}

#sidebar {
    float: left;
    width: 20%;
    height: 750px;
    position: relative;
    border: black solid 2px;
    border-radius: 5px;
    background-color: #ececec;
}

#flowchart-container {
    margin-left: 5px;
    float: left;
    width: 75%;
    height: 750px;
    position: relative;
    border: black solid 1px;
}

.quarter-container {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    float: left;
    width: 150px;
    height: calc(100% - 30px);
    border: black solid 2px;
    border-radius: 3px;
    background-color: white;
}

.quarter-title {
    border-bottom: solid black 2px;
    margin-bottom: 3px;
}

.course, .add-course {
    position: relative;
    float: left;
    height: 75px;
    width: 100%;
    border: solid black 2px;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #CCFFCC;
}

.add-course {
    background-color: yellow;
}

.user-info {
    color: white;
    font-size: large;
}

.flowchart-name {
    width: 100%;
    float: left;
    clear: both;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 2px solid #000; }