body {
    background-color: #5cb85c;
    padding: 0;
    margin: 0;
}

.wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}


.form-title{
    text-align: center;
    color: white;
    margin-top: 10%;
    padding: 20px;
}

.search{
    position: relative;
}

.search input{
    text-indent: 30px;
    margin: 10px 0px;
}

.fa-search{ /*font images*/
  position: absolute;
  top: 35%;
  left: 2%;
  font-size: 20px;
  color: black;
}

form{
    background-color: white;
    width: 350px;
    margin: 0 auto;
    border: 1px solid black;
}

.dropbox {
    border: 1px solid black;
}

form.select-chart input[type="text"] {
    padding: 10px 20px;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: white;
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 2px solid light-gray;
    border-radius: 4px;
}

.polybutton {
    background-color: #5cb85c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}